body {
  margin: 0; }

.images {
  height: 70vh;
  width: 100%;
  margin: 0;
  background: url("http://lorempicsum.com/futurama/1570/900/3");
  margin-bottom: 3%; }

.coter {
  display: flex;
  margin-left: 70%; }
  .coter span {
    color: white;
    margin: 0;
    padding: 1.250em;
    right: 0; }
  .coter a {
    text-decoration: none;
    color: white; }

.milieu {
  position: absolute;
  margin-top: 3%;
  margin-left: 19%; }
  .milieu h1 {
    color: white; }
  .milieu h4 {
    color: white; }
  .milieu button {
    border: 0.125em solid #ffb0a6;
    border-radius: 1.250em;
    padding: 0.625em;
    color: white;
    background: transparent; }
  .milieu a {
    text-decoration: none;
    color: white; }

.search {
  border: 0.125em solid #cccccc;
  border-radius: 0.313em;
  margin-left: 20%;
  padding: 1.250em;
  width: 43.750em; }
  .search .recherchequand {
    display: inline-block;
    border: 0.125em solid #cccccc; }

.expe {
  margin-top: 2em;
  margin-left: 14.375em;
  color: #c4c4c4; }

.imgexpe {
  margin-bottom: 5%;
  margin-left: 17%; }
  .imgexpe .fleche {
    margin-bottom: 15%;
    margin-left: -10%; }

.img1 {
  display: inline-block;
  margin: 0.625em; }
  .img1 p {
    color: #c4c4c4; }

.img2 {
  display: inline-block;
  margin: 0.625em; }
  .img2 p {
    color: #c4c4c4; }

.img3 {
  display: inline-block;
  margin: 0.625em; }
  .img3 p {
    color: #c4c4c4; }

.img4 {
  display: inline-block;
  margin: 0.625em; }
  .img4 p {
    color: #c4c4c4; }

.image2 img {
  margin-left: 85%;
  margin-bottom: -19%; }

.logement {
  color: #c4c4c4;
  margin-bottom: 7.500em;
  margin-left: 14.375em; }

.img5 {
  display: inline-block;
  margin: 0.625em; }
  .img5 p {
    color: #c4c4c4; }

.img6 {
  display: inline-block;
  margin: 0.625em; }
  .img6 p {
    color: #c4c4c4; }

.img7 {
  display: inline-block;
  margin: 0.625em; }
  .img7 p {
    color: #c4c4c4; }

.deuxieme {
  margin-left: 13%; }

.image3 {
  margin-left: 86%;
  position: float;
  margin-bottom: -10%; }

.ligne1 {
  border: 3em;
  border-bottom: 0.063em solid #dce0e0; }

.argent {
  padding: 5em;
  margin-left: 8%;
  display: flex;
  flex-direction: column;
  position: absolute; }
  .argent select {
    background: transparent;
    width: 10.250em;
    height: 2.625em;
    color: #00848b;
    margin: 0.313em; }

.airbnb {
  text-decoration: none;
  list-style-type: none;
  position: absolute;
  margin-left: 27%;
  margin-top: 4%; }
  .airbnb a {
    text-decoration: none;
    color: #767676; }

.strong1 {
  font-weight: bold;
  margin: 8px; }

.decouvrire {
  text-decoration: none;
  list-style-type: none;
  position: absolute;
  margin-left: 48%;
  margin-top: 4%; }
  .decouvrire a {
    text-decoration: none;
    color: #767676; }

.strong2 {
  font-weight: bold;
  margin: 0.500em; }

.heberge {
  text-decoration: none;
  list-style-type: none;
  position: absolute;
  margin-left: 73%;
  margin-top: 4%; }
  .heberge a {
    text-decoration: none;
    color: #767676; }

.strong3 {
  font-weight: bold;
  margin: 0.500em; }

/*# sourceMappingURL=design.css.map */
