$imagesprincipal: url("http://lorempicsum.com/futurama/1570/900/3") ;
$zeromarge: 0;
$principalcolor: white;
$enlevelien: none;
$couleurbtn: #ffb0a6;
$couleurcontour: #cccccc;
$couleurexp: #c4c4c4;
$couleurligne:#dce0e0;
$couleureuro:#00848b;
$couleurfooter:#767676;


body {

	margin: $zeromarge;
}

.images {

	height: 70vh;
	width: 100%;
	margin: 0;
	background:$imagesprincipal;
	margin-bottom:3%;

}

.coter {


	display: flex;
	margin-left: 70%;

	span {
		color:$principalcolor;
		margin:$zeromarge;
		padding:1.250em;
		right:0;	}
		a {

			text-decoration: $enlevelien;
			color:$principalcolor;
		}

	}
	.milieu {


		position : absolute;
		margin-top: 3%;
		margin-left: 19%;

		h1 {

			color: $principalcolor;

		}

		h4 {


			color: $principalcolor;


		}

		button {

			border:0.125em solid $couleurbtn;
			border-radius: 1.250em;
			padding: 0.625em;
			color: $principalcolor;
			background: transparent;

		}

		a {
			text-decoration: $enlevelien;
			color:$principalcolor;
		}
	}

	.search {
		border:0.125em solid $couleurcontour;
		border-radius:0.313em;
		margin-left:20%;
		padding:1.250em;
		width:43.750em;

		.recherchequand {


			display: inline-block;
			border:0.125em solid $couleurcontour;




		}

		.quand {

	// outline:10px solid $couleurcontour


}



}

.expe {

	margin-top: 2em;
	margin-left: 14.375em;
	color:#c4c4c4;
}

.imgexpe {
	margin-bottom: 5%;
	margin-left: 17%;

	.fleche {

		margin-bottom: 15%;
		margin-left: -10%;
	}

}

.img1 {

	display: inline-block;
	margin:0.625em;

	p {
		color: $couleurexp;
	}
}

.img2 {

	display: inline-block;
	margin:0.625em;


	p {
		color:$couleurexp;
	}
}

.img3 {

	display: inline-block;
	margin:0.625em;


	p {
		color:$couleurexp;
	}
}

.img4 {

	display: inline-block;
	margin:0.625em;

	p {
		color:$couleurexp;
	}
}
.image2 {

	img {

		margin-left: 85%;
		margin-bottom:-19%;
		
	}

}

.logement {

	color:$couleurexp;
	margin-bottom:7.500em;
	margin-left:14.375em;

}

.img5 {

	display: inline-block;
	margin:0.625em;

	p {
		color: $couleurexp;
	}	
}

.img6 {

	display: inline-block;
	margin:0.625em;

	p {
		color: $couleurexp;
	}
}

.img7 {
	display: inline-block;
	margin:0.625em;

	p {
		color: $couleurexp;
	}
}

.deuxieme {
	margin-left: 13%;

}

.image3 {

	margin-left:86%;
	position:float;
	margin-bottom: -10%;
}
.ligne1 {


	border:3em;
	border-bottom:0.063em solid $couleurligne;


}

.argent {
	padding:5em;
	margin-left: 8%;
	display:flex;
	flex-direction:column;
	position:absolute;

	select {

		background:transparent;
		width: 10.250em;
		height: 2.625em;
		color: $couleureuro;
		margin:0.313em;
	}

}

.airbnb {

	text-decoration:none;
	list-style-type:none;
	position:absolute;
	margin-left:27%;
	margin-top:4%;

	a {

		text-decoration: $enlevelien;
		color: $couleurfooter;
	}
}

.strong1 {

	font-weight: bold;
	margin:8px;
}

.decouvrire {

	text-decoration:none;
	list-style-type:none;
	position:absolute;
	margin-left:48%;
	margin-top:4%;

	a {

		text-decoration: $enlevelien;
		color: $couleurfooter;
	}

}

.strong2 {

	font-weight: bold;
	margin:0.500em;

}

.heberge {

	text-decoration:none;
	list-style-type:none;
	position:absolute;
	margin-left:73%;
	margin-top:4%;

	a {

		text-decoration: $enlevelien;
		color: $couleurfooter;
	}
}

.strong3 {

	font-weight: bold;
	margin:0.500em;
}


