$imagesprincipal: url("http://lorempicsum.com/futurama/1570/900/3") ;
$zeromarge: 0;
$principalcolor: white;
$enlevelien: none;
$couleurbtn: #ffb0a6;
$couleurcontour: #cccccc;
$couleurexp: #c4c4c4;


body {

	margin: $zeromarge;
}

.images {

	height: 500px;
	width: 100%;
	margin: 0;
	background:$imagesprincipal;
	margin-bottom:3%;

}

.coter {


	display: flex;
	margin-left: 70%;

	span {
		color:$principalcolor;
		margin:$zeromarge;
		padding:20px;
		right:0;	}
		a {

			text-decoration: $enlevelien;
			color:$principalcolor;
		}

	}
	.milieu {


		position : absolute;
		margin-top: 3%;
		margin-left: 19%;

		h1 {

			color: $principalcolor;

		}

		h4 {


			color: $principalcolor;


		}

		button {

			border:2px solid $couleurbtn;
			border-radius: 20px;
			padding: 10px;
			color: $principalcolor;
			background: transparent;

		}

		a {
			text-decoration: $enlevelien;
			color:$principalcolor;
		}
	}

	.search {
		border:2px solid $couleurcontour;
		border-radius:5px;
		margin-left:20%;
		padding:20px;
		width:700px;

		.recherchequand {


			display: inline-block;
			border:2px solid $couleurcontour;




		}

		.quand {

	// outline:10px solid $couleurcontour


}



}

.expe {

	margin-top: 2em;
	margin-left: 230px;
	color:#c4c4c4;
}

.imgexpe {

	margin-left: 17%;

	.fleche {

		margin-bottom: 15%;
		margin-left: -100px;
	}

}

.img1 {

	display: inline-block;
	margin:10px;

	p {
		color: $couleurexp;
	}
}

.img2 {

	display: inline-block;
	margin:10px;


	p {
		color:$couleurexp;
	}
}

.img3 {

	display: inline-block;
	margin:10px;


	p {
		color:$couleurexp;
	}
}

.img4 {

	display: inline-block;
	margin:10px;

	p {
		color:$couleurexp;
	}
}
.image2 {

	img {

		margin-left: 85%;
		margin-bottom:-19%;
		
	}

}

.logement {

	color:$couleurexp;
	margin-left:230px;
}




